.signup-container {
  /*  max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
*/
  //margin-top: 1000px auto;
  //max-width: 400px;
  width: 30%;
  margin: 0 auto;
  padding: 30px;
  //display: flex;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: Arial, sans-serif; /* Use a clean and readable font */
  background: #fff; /* White background for the box */
  justify-content: center; /* Horizontally centers the container */
  align-items: center;     /* Vertically centers the container */
   border-radius: 10px; /* Rounded corners */
   box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Subtle shadow for a modern look */
   margin-top: 50px;
  
    h2 {
      text-align: center;
      margin-bottom: 20px;
      color: #11204D;
    }
  
    .form-group {
      margin-bottom: 15px;
  
      label {
        display: block;
        margin-bottom: 5px;
      }
  
      input {
        width: 97%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
      }
    }
  
    button {
      width: 100%;
      padding: 10px;
      background-color: #527DB8;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
  
      &:hover {
        background-color: #11204D;
      }
    }
  
    .links {
      margin-top: 15px;
      text-align: center;
  
      a {
        color: #11204D;
        text-decoration: none;
  
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  