<footer>
    <app-chatbot></app-chatbot>
     <!-- <div class="footer-content">
      
    </div> 
     <div class="footer-bottom">
      <p>&copy; {{currentYear}} Your Company Name. All rights reserved.</p>
      
    </div> 
       -->
    <!-- <script>
        window.chatbaseConfig = {
          chatbotId: "73m0em0pu8ggojx7iwd49plffucdytgg",
          domain: "www.chatbase.co"
        }
      </script>
      <script
        src="https://www.chatbase.co/embed.min.js"
        id="73m0em0pu8ggojx7iwd49plffucdytgg"
        defer>
      </script> -->
      

</footer>

  